{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body >
    
    <form method="post">
        {% csrf_token %}
            {% bootstrap_form form%}
        <input type="submit" class="btn btn-primary btn-sm" value="Submit">
    

    </form>
        {% if product %}
            <a href="{% url 'delete_products' product.id %}">Delete</a>
        {% endif %}

       
        
    
    
</body>
</html>