{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>test</title>
</head>
<body>
    <ul>
     {% for product in products %}
        <a href="{% url 'update_products' product.id %}">
            <li>{{product.description}}</li>
        </a>
     
    {% endfor %}
    </ul>
    
    <a href="{% url 'create_product'%}">Create Product <span class="glyphicon glyphicon-plus-sign" style="font-size:35px;"></span></a>    

</body>
</html>